* {
  font-family: "Kanit", sans-serif;
  font-weight: bolder;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(161, 1, 1);
  line-height: 1px;
}

.App {
  text-align: center;
  background-color: rgb(224, 213, 190);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

#audo {
  display: none;
}

.question {
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  font-weight: bolder;
  color: rgb(161, 1, 1);
  font-size: 50px;
}
input {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 15px;
  margin: 0 auto;
  width: 90%;

  -webkit-text-stroke-width: 1px;

  color: rgb(161, 1, 1);
}

#submit {
  display: none;
}

.visualizer {
  height: fit-content;
  overflow: visible;

  /* mix-blend-mode: darken; */
}
